app/views/wash_out/btpn_notification/pegasus.integration.basetypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://pegasus/integration/basetypes" targetNamespace="http://pegasus/integration/basetypes"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb">

	<!--+
		| Base types, no domain
		+-->
	<xsd:simpleType name="baseString">
		<xsd:annotation>
			<xsd:documentation>Base text type for every text-kind data item
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-zA-Z0-9().,-/+&apos; ]*" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="baseNumber">
		<xsd:annotation>
			<xsd:documentation>Base type for every counter or quantity-kind data
				item, fe. number of transactions, number of
				standing, etc.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="8" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="nonEmptyString">
		<xsd:annotation>
			<xsd:documentation>General type holding non empty texts
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="baseString">
			<xsd:minLength value="1" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="url">
		<xsd:annotation>
			<xsd:documentation>General URL type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:anyURI" />
	</xsd:simpleType>
	
	<!--+
		| Framework specific
		+ -->
	<!-- REVIEW this!! -->
	<xsd:simpleType name="channelId">
		<xsd:annotation>
			<xsd:documentation>Channel identifiers in DC</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ADM">
				<xsd:annotation>
					<xsd:documentation>Admin channel</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CLC">
				<xsd:annotation>
					<xsd:documentation>Call/contact center channel</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IBN">
				<xsd:annotation>
					<xsd:documentation>Internetbank channel</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IMO">
				<xsd:annotation>
					<xsd:documentation>iMobile channel</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MBL">
				<xsd:annotation>
					<xsd:documentation>Mobile channel</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>	
	

	<!--+
		| Security/Party domain
		+-->
	<xsd:simpleType name="customerId">
		<xsd:annotation>
			<xsd:documentation>Identifier of the customer in backend
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="baseString">
			<xsd:maxLength value="25" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="userId">
		<xsd:annotation>
			<xsd:documentation>Call center agent / user identifier. Can be used only in header of request. 
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="baseString">
			<xsd:maxLength value="10" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<!--+
		| Error handling
		+-->
	<xsd:simpleType name="reasonString">
		<xsd:annotation>
			<xsd:documentation>Type for backend error descriptions
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2000" />
			<xsd:pattern value="[a-zA-Z0-9().,-/+&apos;{}:_! #\[\]]*" />
		</xsd:restriction>
	</xsd:simpleType>
		
   <xsd:complexType name="reasonWithArguments">
    	<xsd:sequence>
    		<xsd:element name="DefaultMessage" type="reasonString" minOccurs="0" maxOccurs="1">
    			<xsd:annotation>
    				<xsd:documentation>If no message is present in the system for this issue, this message will be used.</xsd:documentation>
    			</xsd:annotation></xsd:element>
    		<xsd:element name="Argument" type="reasonString"  minOccurs="0" maxOccurs="unbounded">
    		</xsd:element>
    	</xsd:sequence>
    	<xsd:attribute name="IssueCode" type="reasonString" use="required"></xsd:attribute>
    </xsd:complexType>

	<!--+
		| Framework headers 
		+-->	
	<xsd:complexType name="technicalRequestHeader">
		<xsd:annotation>
			<xsd:documentation>Ancestor request type for non-customer-dependent calls, and base for any other requests.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ChannelId" type="channelId" maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Channel identifier. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ApplicationId" type="baseString" maxOccurs="1" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Application identifier. By default it is MisysDC.
					</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
		
		
	<xsd:complexType name="requestHeader">
		<xsd:annotation>
			<xsd:documentation>Ancestor request type for customer-dependent calls
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="technicalRequestHeader">
				<xsd:sequence>
					<xsd:element name="CustomerId" type="customerId" maxOccurs="1" minOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Customer identifier (customer=account owner, not
								trustee or representative or internetbank user)
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="UserId" type="userId" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>CC agent / user identifier
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>		
	</xsd:complexType>

	<xsd:complexType name="replyHeader">
		<xsd:annotation>
			<xsd:documentation>Ancestor reply type for every call.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Issue" type="typedIssue" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!--+
		| Forecast
		+-->    
	<xsd:complexType name="forecastReply">
        <xsd:annotation>
        	<xsd:documentation>Forecast reply. Contains all the information regarding the given forecast.
        	Any issue that to be communicated towards the client is expressed with ForcastIssue. For example
        	exchange rate or charge is an issue of INFO type.  
        	</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
			<xsd:element name="Header" type="replyHeader"></xsd:element>
			<xsd:element name="ForecastedItemFeedback">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="instructionItem">
							<xsd:sequence>
								<xsd:element name="ForecastIssue" maxOccurs="unbounded"
									minOccurs="0" type="typedIssue">
								</xsd:element>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Fee" type="amount" maxOccurs="1" minOccurs="0">
  				<xsd:annotation>
  					<xsd:documentation>Fee amount.</xsd:documentation>
  				</xsd:annotation>
  			</xsd:element>
			<xsd:element name="FeeCurrency" type="currencyISOCode" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Fee currency.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="typedIssue">
		<xsd:complexContent>
			<xsd:extension base="reasonWithArguments">
				<xsd:sequence>
					<xsd:element name="Type" type="issueType"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:simpleType name="issueType">
		 <xsd:restriction base="xsd:string">
		 	<xsd:enumeration value="ERROR"/>
		 	<xsd:enumeration value="WARN"/>
		 	<xsd:enumeration value="INFO"/>
		 </xsd:restriction>	
	</xsd:simpleType>	
		
	<!--+
		| Banking domain
		+================-->
	<xsd:simpleType name="amount">
		<xsd:annotation>
			<xsd:documentation>General amount type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="6" />
			<xsd:totalDigits value="24" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="bankCode">
		<xsd:annotation>
			<xsd:documentation>General bank code type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="baseString">
			<xsd:length value="30" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="productInstanceId">
		<xsd:annotation>
			<xsd:documentation>
				Account identifier. This identifier uniquely identifies the account (in the backend system).
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="baseString">
			<xsd:maxLength value="34" />
		</xsd:restriction>
	</xsd:simpleType>	 	

	<xsd:simpleType name="iban">
		<xsd:annotation>
			<xsd:documentation>IBAN account number</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="baseString">
			<xsd:maxLength value="50" />
			<xsd:pattern value="[A-Z]{0,2}[A-Z0-9]{13,32}" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="swiftCode">
		<xsd:annotation>
			<xsd:documentation>Swift code type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="baseString">
			<xsd:minLength value="8" />
			<xsd:maxLength value="11" />
			<xsd:pattern value="[A-Z]{6}[A-Z,0-9]{2,5}" />
		</xsd:restriction>
	</xsd:simpleType>	

	<xsd:simpleType name="currencyISOCode">
		<xsd:annotation>
			<xsd:documentation>Currency ISO code</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="baseString">
			<xsd:length value="3" />
			<xsd:pattern value="[A-Z]{3}" />
		</xsd:restriction>
	</xsd:simpleType>	
	
	<xsd:simpleType name="countryISOCode">
		<xsd:annotation>
			<xsd:documentation>ISO country code</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="baseString">
			<xsd:length value="2" />
			<xsd:pattern value="[A-Z]{2}" />
		</xsd:restriction>
	</xsd:simpleType>	

	<xsd:simpleType name="rate">
		<xsd:annotation>
			<xsd:documentation>General rate type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="4" />
			<xsd:totalDigits value="7" />
		</xsd:restriction>
	</xsd:simpleType>
	
	
	<xsd:simpleType name="rateCondition">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TIERED"></xsd:enumeration>
			<xsd:enumeration value="PEGGED"></xsd:enumeration>
			<xsd:enumeration value="ACTUAL"></xsd:enumeration>
			<xsd:enumeration value="VARIABLE"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="productCode">
		<xsd:annotation>
			<xsd:documentation>Identifier of the product.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="baseString">
			<xsd:maxLength value="50" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="cardNumber">
		<xsd:annotation>
			<xsd:documentation>General card number type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="baseString">
			<xsd:maxLength value="19" />
			<xsd:pattern value="[0-9]{4} ?[0-9\*]{4} ?[0-9\*]{4} ?[0-9]{4}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="partnerName">
		<xsd:annotation>
			<xsd:documentation>Sender name type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="baseString">
			<xsd:maxLength value="20" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="partnerAddress">
		<xsd:annotation>
			<xsd:documentation>Sender address type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="baseString">
			<xsd:maxLength value="75" />
		</xsd:restriction>
	</xsd:simpleType>
	
	
	<xsd:simpleType name="frequency">
		<xsd:annotation>
			<xsd:documentation>Frequency of standing orders</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="D">
				<xsd:annotation>
					<xsd:documentation>Daily</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="W">
				<xsd:annotation>
					<xsd:documentation>Weekly</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="F">
				<xsd:annotation>
					<xsd:documentation>Fortnightly</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="M">
				<xsd:annotation>
					<xsd:documentation>Monthly</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="B">
				<xsd:annotation>
					<xsd:documentation>Bi-Monthly</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Q">
				<xsd:annotation>
					<xsd:documentation>Quaterly</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="H">
				<xsd:annotation>
					<xsd:documentation>Half-Yearly</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Y">
				<xsd:annotation>
					<xsd:documentation>Yearly</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction> 
	</xsd:simpleType>

	<xsd:simpleType name="validity">
		<xsd:annotation>
			<xsd:documentation>Validity of standing orders</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TR">
				<xsd:annotation>
					<xsd:documentation>Valid until the standing order is recalled</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ANP">
				<xsd:annotation>
					<xsd:documentation>Valid until the specified number of orders are not processed - rollover</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TE">
				<xsd:annotation>
					<xsd:documentation>Valid before the specified date</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>    	
	
	<xsd:complexType name="paymentRecurrence">
		<xsd:sequence>
			<xsd:element name="StartDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Start date of internal standing order
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Frequency" type="frequency">
				<xsd:annotation>
					<xsd:documentation>
						Frequency of internal standing order
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Validity" type="validity">
				<xsd:annotation>
					<xsd:documentation>
						Validity of internal standing order
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Last date of the internal standing order
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfPayments" type="baseNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Maximum number of the payments during the internal standing order's lifecycle
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>		
		</xsd:sequence>	
	</xsd:complexType>	
    <xsd:simpleType name="paymentMode">
		<xsd:annotation>
			<xsd:documentation>Payment mode
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="FIXED">
				<xsd:annotation>
					<xsd:documentation>Fixed</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="VARIABLE">
				<xsd:annotation>
					<xsd:documentation>Variable</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>    	
    </xsd:simpleType>
    
    	

	<!--+
		| Transactions 
		+ -->
	<xsd:simpleType name="txnReferenceID">
		<xsd:annotation>
			<xsd:documentation>If the transaction is originalted in BFO4 a reference Id is sent via process to backend system. This Id must be send back to BFO4 for adding BFO4 specific data to transaction: PartnerId, CategorizationId added by </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="64" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="txnType">
        <xsd:annotation>
        	<xsd:documentation>Transaction type.
        	Bank specific type of the transaction. Mapping between this value and the text displayed in PFM software 
        	has to be defined in PFM Admin tool. If no mapping in the admin tool is done only the submitted 
        	value will be displayed to the user.
        	</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/> <!-- TODO is this enough? from xls txn histroy -->
		</xsd:restriction>
	</xsd:simpleType>

    <xsd:simpleType name="instructionId">
		<xsd:annotation>
			<xsd:documentation>Transaction identifier from the backend</xsd:documentation>
		</xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
        </xsd:restriction>
    </xsd:simpleType>
    
	<xsd:complexType name="instructionItem" abstract="true">
        <xsd:annotation>
        	<xsd:documentation>Abstract for all transactional items. Defines TxnReferenceID that is unique identifier of the transaction.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
			<xsd:element name="TxnReferenceID" type="txnReferenceID" maxOccurs="1"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Unique transaction identifier.</xsd:documentation>
				</xsd:annotation></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
 	<xsd:simpleType name="instructionReference">
        <xsd:annotation>
        	<xsd:documentation>Instruction reference</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"></xsd:restriction>
 	</xsd:simpleType>
 	
 	<xsd:simpleType name="clientType" >
        <xsd:annotation>
        	<xsd:documentation>Client (individual, corporate, etc.) type.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
		 	<xsd:enumeration value="INDIVIDUAL">
		 		<xsd:annotation>
		 			<xsd:documentation>Individual</xsd:documentation>
		 		</xsd:annotation></xsd:enumeration>
		 	<xsd:enumeration value="CORPORATE">
		 		<xsd:annotation>
		 			<xsd:documentation>Corporate</xsd:documentation>
		 		</xsd:annotation></xsd:enumeration>
		 </xsd:restriction>			
	</xsd:simpleType>
	
	<xsd:simpleType name="baseString10" >
        <xsd:annotation>
        	<xsd:documentation>10 long baseString</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString">
		 	<xsd:maxLength value="10"></xsd:maxLength>
		 </xsd:restriction>			
	</xsd:simpleType>
	
	<xsd:simpleType name="baseString30" >
        <xsd:annotation>
        	<xsd:documentation>30 long baseString</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString">
		 	<xsd:maxLength value="30"></xsd:maxLength>
		 </xsd:restriction>			
	</xsd:simpleType>
	
	<xsd:simpleType name="baseString35" >
        <xsd:annotation>
        	<xsd:documentation>35 long baseString</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString">
		 	<xsd:maxLength value="35"></xsd:maxLength>
		 </xsd:restriction>			
	</xsd:simpleType>
	
	<xsd:simpleType name="baseString50" >
        <xsd:annotation>
        	<xsd:documentation>50 long baseString</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString">
		 	<xsd:maxLength value="50"></xsd:maxLength>
		 </xsd:restriction>			
	</xsd:simpleType>
	
	<xsd:simpleType name="baseString60" >
        <xsd:annotation>
        	<xsd:documentation>50 long baseString</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString">
		 	<xsd:maxLength value="60"></xsd:maxLength>
		 </xsd:restriction>			
	</xsd:simpleType>
	
	<xsd:simpleType name="baseString75" >
        <xsd:annotation>
        	<xsd:documentation>75 long baseString</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString">
		 	<xsd:maxLength value="75"></xsd:maxLength>
		 </xsd:restriction>			
	</xsd:simpleType>
	
	<xsd:simpleType name="baseString100" >
        <xsd:annotation>
        	<xsd:documentation>100 long baseString</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString">
		 	<xsd:maxLength value="100"></xsd:maxLength>
		 </xsd:restriction>			
	</xsd:simpleType>
	
	<xsd:simpleType name="baseString150" >
        <xsd:annotation>
        	<xsd:documentation>150 long baseString</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString">
		 	<xsd:maxLength value="150"></xsd:maxLength>
		 </xsd:restriction>			
	</xsd:simpleType>
	
	<xsd:simpleType name="baseString200" >
        <xsd:annotation>
        	<xsd:documentation>200 long baseString</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString">
		 	<xsd:maxLength value="200"></xsd:maxLength>
		 </xsd:restriction>			
	</xsd:simpleType>
	
	<xsd:simpleType name="baseString300" >
        <xsd:annotation>
        	<xsd:documentation>300 long baseString</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString">
		 	<xsd:maxLength value="300"></xsd:maxLength>
		 </xsd:restriction>			
	</xsd:simpleType>
	
	<xsd:simpleType name="clientId" >
        <xsd:annotation>
        	<xsd:documentation>Client or party id.  It can be a trustee or customer. An entity stored in the system. Perhaps it is a company or a real person, it does not matter.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString10"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="loginId" >
        <xsd:annotation>
        	<xsd:documentation>This is an id the user can log in with.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString60"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="segmentId" >
        <xsd:annotation>
        	<xsd:documentation>Segment eg. Premium, Senior, Young... of client</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString10"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="title" >
        <xsd:annotation>
        	<xsd:documentation>Title eg. Mr, Mrs, Dr... of client</xsd:documentation>
        </xsd:annotation>
         <xsd:restriction base="baseString10"/>		
	</xsd:simpleType>
	
	<xsd:simpleType name="nameFragment" >
        <xsd:annotation>
        	<xsd:documentation>Name or part of the name of the client</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString150"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="longName" >
        <xsd:annotation>
        	<xsd:documentation>Name of birth concatenated.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString300"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="birthPlace" >
        <xsd:annotation>
        	<xsd:documentation>Name of birth concatenated.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString100"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="nationality" >
        <xsd:annotation>
        	<xsd:documentation>Nationality of client.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString100"/>			
	</xsd:simpleType>
	
	<xsd:simpleType name="country" >
        <xsd:annotation>
        	<xsd:documentation>Country of address.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString50"/>		
	</xsd:simpleType>
	
	<xsd:simpleType name="postalCode" >
        <xsd:annotation>
        	<xsd:documentation>Postal code of address.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString10"/>		
	</xsd:simpleType>
	
	<xsd:simpleType name="city" >
        <xsd:annotation>
        	<xsd:documentation>City of address.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString100"/>		
	</xsd:simpleType>
	
	<xsd:simpleType name="address" >
        <xsd:annotation>
        	<xsd:documentation>Address part.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString150"/>		
	</xsd:simpleType>
	
	<xsd:simpleType name="addressType" >
        <xsd:annotation>
        	<xsd:documentation>Type of address.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString10"/>		
	</xsd:simpleType>
	
	<xsd:simpleType name="idCardType" >
        <xsd:annotation>
        	<xsd:documentation>ID card type eg. driving license, personal ID card, passport...</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString10"/>		
	</xsd:simpleType>
	
	<xsd:simpleType name="idCardNumber" >
        <xsd:annotation>
        	<xsd:documentation>ID card number for faster identification.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString30"/>		
	</xsd:simpleType>
	
	<xsd:simpleType name="email" >
        <xsd:annotation>
        	<xsd:documentation>Email address.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="baseString300"/>		
	</xsd:simpleType>
	
	<xsd:simpleType name="phoneNumber">
		<xsd:annotation>
        	<xsd:documentation>Restricted string for phone numbers</xsd:documentation>
        </xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9+]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="nameOnCard">
		<xsd:annotation>
			<xsd:documentation>Restricted string for name placed on card</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="nonEmptyString">
			<xsd:maxLength value="19"/>
		</xsd:restriction>
	</xsd:simpleType>
	
</xsd:schema>
